:root {
  --dark-grey: #4b5d68;
  --dark-purp: #212353;
  --violet: #9c69e2;
  --pink: #f063b8;
  --green: #68c9ba;
  --blue: #2d9cdb;
}

body {
  margin: 0 auto;
  font: 500 18px/28.8px "Ubuntu";
  background-color: #e5e5e5;
  color: var(--dark-grey);
}

a {
  transition: all 0.4s;
}

li {
    list-style: none;
}
user agent stylesheet
 {
  display: none;
}

.wrapper {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  background: linear-gradient(#f6fafd, #ffffff);
  padding: 50px 0;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 20px 0;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 40px;
}

@media (max-width: 992px) {
  .container {
    padding: 40px 30px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 30px 20px;
  }
}
/*======================== header =============================*/
.header__container {
  display: flex;
  padding-top: 15px;
}

.logo {
  margin-right: 120px;
  display: flex;
  align-items: flex-start;
}

.logo img {
  display: block;
  margin-top: -5px;
}

.nav__list {
  display: flex;
  gap: 40px;
  font: 500 16px/25px "Ubuntu";
}

.nav__item {
  display: flex;
}

.nav__list a:hover {
  text-shadow: 0 0 0.5px var(--dark-purp), 0 0 0.5px var(--dark-purp);
  color: var(--dark-purp);
}

@media (max-width: 768px) {
  .nav__list {
    gap: 25px;
  }
}

.section-title {
  font: 700 40px/52px "Helvetica";
  margin-bottom: 40px;
  color: var(--dark-purp);
}

@media (max-width: 992px) {
  .section-title {
    font: 700 35px/48px "Helvetica";
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .section-title {
    font: 700 30px/43px "Helvetica";
  }
}

/* ============================== company ==========================*/

.company__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 50px;
}

h1 {
  font: 700 80px/88px "Helvetica";
  color: var(--dark-purp);
  width: 60%;
  margin-bottom: 50px;
}

.company__text {
  width: 34%;
  margin-bottom: 60px;
}

a.company__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 60px;
  background-color: var(--violet);
  border-radius: 50px;
  color: #ffffff;
}

a.company__btn:hover { 
  background-color: var(--pink); 
}

.company__img {
  position: absolute;
  display: block;
  bottom: 0;
  right: -8%;
  width: 74%;
}

@media (max-width: 1430px) {
  .company__img {
    position: absolute;
    display: block;
    bottom: 0;
    right: 2%;
    width: 65%;
  }
}

@media (max-width: 1050px) {
  .company__container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 90px;
    margin-bottom: 0px;
  }
  h1 {
    font: 700 60px/66px "Helvetica";
    width: 70%;
    margin-bottom: 20px;
  }

  .company__text {
    width: 43%;
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .logo {
    margin-right: 30px;
  }

  h1 {
    font: 700 50px/54px "Helvetica";
    width: 100%;
    margin-bottom: 20px;
  }

  .company__text {
    width: 50%;
    margin-bottom: 60px;
  }
}

@media (max-width: 650px) {
  .company__container {
    align-items: center;
    padding-bottom: 40px;
    margin-bottom: 0px;
  }
  .company__img {
    position: relative;
    right: 0;
    width: 100%;
  }

  a.company__btn {
    display: flex;
    margin-bottom: 20px;
  }

  .company__text {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  h1 {
    font: 700 40px/44px "Helvetica";
    width: 100%;
    margin-bottom: 20px;
  }
}

/*============================= about =============================*/

.about__container {
  position: relative;
  margin-bottom: 50px;
}

.about__bg {
  max-width: 1117px;
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  padding: 120px 80px;
}

.about__content {
  max-width: 52%;
  margin-left: auto;
  padding-left: 10px;
}

.about__first-p {
  display: block;
}

.about__img {
  position: absolute;
  left: 5%;
  top: 12%;
  max-width: 50%;
}

@media (max-width: 992px) {
  .about__bg {
    padding: 70px 40px;
  }

  .about__img {
    position: absolute;
    left: 0%;
    top: 10%;
  }
}

@media (max-width: 768px) {
  .about__bg {
    padding: 50px 20px;
  }

  .about__content {
    max-width: 100%;
    padding-left: 0;
  }
  .about__img {
    position: relative;
    bottom: 0;
    min-width: 100%;
  }
}

/*============================= features ===============================*/

.features__container {
  text-align: center;
  margin-bottom: 50px;
}

.features__subtitle {
  max-width: 585px;
  margin: 0 auto 110px;
}

.features__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 45px;
}

.card {
  max-width: 50%;
  display: flex;
  gap: 35px;
  text-align: left;
  padding: 60px 40px 30px 0;
  margin-bottom: 10px;
}

.card:nth-child(1) {
  background: url(./assets/features/card-bg1.png) right top / contain
    no-repeat;
}
.card:nth-child(2) {
  background: url(./assets/features/card-bg2.png) right top / contain
    no-repeat;
}
.card:nth-child(3) {
  background: url(./assets/features/card-bg3.png) right top / contain
    no-repeat;
}
.card:nth-child(4) {
  background: url(./assets/features/card-bg4.png) right top / contain
    no-repeat;
}

.card__img {
  width: 50%;
  object-fit: contain;
}

.card__info {
  max-width: 225px;
  display: flex;
  flex-direction: column;
}
.card__title {
  font: 400 24px/31px "Helvetica";
  color: var(--dark-purp);
  margin-bottom: 20px;
}
.card__text {
  font: 400 16px/26px "Ubuntu";
  margin-bottom: 30px;
}

.card__link {
  margin-right: 10px;
  width: 130px;
  margin-top: auto;
}

.card__link-txt {
  color: var(--dark-purp);
  font: 900 16px/26px "Ubuntu";
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
}

.card__link-txt:hover {
  color: var(--violet);  
}

.card__link-txt::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  width: 20px;
  height: 15px;
  background: url(./assets/features/card-arrow.svg) center center / contain
    no-repeat;
}

@media (max-width: 1200px) {
  .features__cards {
    gap: 40px;
    flex-direction: column;
  }

  .card {
    justify-content: space-between;
    align-self: center;
    min-width: 80%;
    height: 450px;
  }

  .card__img {
    width: 40%;
    object-fit: contain;
  }

  .card__info {
    max-width: 40%;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .card {
    height: 350px;
  }
}
@media (max-width: 768px) {
  .card {
    min-width: 95%;
  }

  .card__img {
    width: 50%;
    object-fit: contain;
  }

  .card__info {
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .card:nth-child(1) {
    background: url(./assets/features/card-bg1.png) right bottom / contain
      no-repeat;
  }
  .card:nth-child(2) {
    background: url(./assets/features/card-bg2.png) right bottom / contain
      no-repeat;
  }
  .card:nth-child(3) {
    background: url(./assets/features/card-bg3.png) right bottom / contain
      no-repeat;
  }
  .card:nth-child(4) {
    background: url(./assets/features/card-bg4.png) right bottom / contain
      no-repeat;
  }

  .features__cards {
    gap: 30px;
  }

  .card {
    height: 100%;
    flex-wrap: wrap;
    min-width: 95%;
    padding: 10px 10px 30px 10px;
    justify-content: center;
    text-align: end;
  }

  .card__img {
    width: 60%;
    object-fit: contain;
  }

  .card__info {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .card__link {
    margin-top: auto;
    margin-left: auto;
  }
}

@media (max-width: 425px) {
  .card {
    height: 90%;
    gap: 0;
  }
}

/*=============================== testimonials ==================================*/

.testimonials {
  overflow: hidden;
}

.testimonials__container {
  padding-bottom: 150px;
}

.testimonials__bg {
  background-color: var(--violet);
  max-width: 1118px;
  border-radius: 50px;
  padding: 110px 90px 60px 90px;
}

.testimonials__title {
  color: #ffffff;
  margin-bottom: 100px;
}

.slider {
  position: relative;
  display: flex;
  height: 400px;
}

.slider__wrapper {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}
.slide {
  position: relative;
  display: flex;
  gap: 30px;
  width: 400px;
  background-color: #fff;
  border-radius: 20px;
  padding: 55px 55px 55px 40px;
  margin-right: 20px;
  border: 1px solid var(--violet);
  box-shadow: 0 20px 0 0 rgba(81, 53, 121, 0.1);
}

.slide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
}

.slide._active {
  width: 645px;
  padding: 60px 67px 50px 70px;
  box-shadow: 0 20px 0 0 rgba(61, 40, 90, 0.294);
}

.slide._active::after {
  display: none;
}

.slide__title {
  font: 900 18px/29px "Ubuntu";
  color: var(--dark-purp);
}

.slide__subtitle {
  display: block;
  font: 500 14px/22px "Ubuntu";
  color: var(--violet);
  margin-bottom: 20px;
}

.slide__text {
  font: 400 18px/32px "Ubuntu";
}

.slider__btns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto auto 0;
}

.slider__pang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 60px;
}
.pang {
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.pang._active {
  width: 10px;
  height: 10px;
  background-color: var(--pink);
  border-radius: 50%;
}
.slider__navig {
  display: flex;
  justify-content: space-between;
  width: 80px;
}
.prev {
  background: url(./assets/testimonials/slide-ar-prev.svg) center center /
    contain no-repeat;
  width: 40px;
  height: 15px;
  cursor: pointer;
}
.next {
  background: url(./assets/testimonials/slide-ar-next.svg) center center /
    contain no-repeat;
  width: 20px;
  height: 15px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .testimonials__container {
    padding-bottom: 50px;
  }

  .testimonials__bg {
    padding: 80px 50px 40px;
  }
}

@media (max-width: 768px) {
  .slide._active {
    padding: 30px 20px;
  }
  .testimonials__bg {
    padding: 50px 20px 30px;
  }
}

@media (max-width: 425px) {
  .slide {
    flex-direction: column;
    max-width: 240px;
    gap: 10px;
  }

  .section-title {
    margin-bottom: 20px;
  }

  .slider {
    position: relative;
    display: flex;
    height: 530px;
  }
}

/*=================================== footer =========================*/

.footer {
  border-top: 2px solid #9b69e22f;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 160px;
  color: var(--dark-purp);
}

.contacts {
  max-width: 300px;
}
.contacts__title {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.contacts__logo {
  margin-right: 20px;
}

.contacts__name {
  font: 900 20px/32px "Ubuntu";
}

.contacts__list {
  font: 500 16px/28px "Ubuntu";
}

.contacts__list a:hover{
  color: var(--violet);
}

.contacts__list li {
  margin-bottom: 30px;
}

.contacts__list span {
  display: block;
  margin-bottom: 10px;
}

.contacts__addres {
  font: 500 16px/28px "Ubuntu";
}

.contacts__mail {
  font: 400 16px/28px "Ubuntu";
}

.contacts__copirate {
  font: 400 12px/21px "Ubuntu";
}

.social {
  max-width: 300px;
  margin-right: 10%;
  padding-top: 10px;
}
.social__title {
  display: block;
  font: 900 16px/25px "Ubuntu";
  margin-bottom: 30px;
}

.social__list {
  display: flex;
  gap: 15px;
}

.social__link{
  background-color: #21235321;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;

}

.social__link:hover {
  background-color: #3f22682f;
}

@media (max-width: 600px) {
  .footer__container {
    flex-direction: column;
    padding-top: 60px;
  }
}
