:root {
  --dark-grey: #4b5d68;
  --dark-purp: #212353;
  --violet: #9c69e2;
  --pink: #f063b8;
  --green: #68c9ba;
  --blue: ##2d9cdb;
}

body {
  margin: 0 auto;
  font: 500 18px/28.8px "Ubuntu";
  background-color: #e5e5e5;
  color: var(--dark-grey);
}

a {
  transition: all 0.4s;
}

.wrapper {
  overflow-x: hidden;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  background: linear-gradient(#f6fafd, #ffffff);
  padding: 50px 0;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 20px 0;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 40px;
}

@media (max-width: 992px) {
  .container {
    padding: 40px 30px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 30px 20px;
  }
}
/*======================== header =============================*/
.header__container {
  display: flex;
  padding-top: 15px;
}

.logo {
  margin-right: 120px;
  display: flex;
  align-items: flex-start;
}

.logo img {
  display: block;
  margin-top: -5px;
}

.nav__list {
  display: flex;
  gap: 40px;
  font: 500 16px/25px "Ubuntu";
}

.nav__item {
  display: flex;
}

.nav__list a:hover {
  text-shadow: 0 0 0.5px var(--dark-purp), 0 0 0.5px var(--dark-purp);
  color: var(--dark-purp);
}

@media (max-width: 768px) {
  .nav__list {
    gap: 25px;
  }
}

.section-title {
  font: 700 40px/52px "Helvetica";
  margin-bottom: 40px;
  color: var(--dark-purp);
}

@media (max-width: 992px) {
  .section-title {
    font: 700 35px/48px "Helvetica";
    margin-bottom: 20px;
    color: var(--dark-purp);
  }
}

@media (max-width: 425px) {
  .section-title {
    font: 700 30px/43px "Helvetica";
    margin-bottom: 20px;
    color: var(--dark-purp);
  }
}

/* ============================== company ==========================*/

.company__container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 50px;
}

h1 {
  font: 700 80px/88px "Helvetica";
  color: var(--dark-purp);
  width: 60%;
  margin-bottom: 50px;
}

.company__text {
  width: 34%;
  margin-bottom: 60px;
}

a.company__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 60px;
  background-color: var(--violet);
  border-radius: 50px;
  color: #ffffff;
}
.company__img {
  position: absolute;
  display: block;
  bottom: 0;
  right: -8%;
  width: 74%;
}

@media (max-width: 1430px) {
  .company__img {
    position: absolute;
    display: block;
    bottom: 0;
    right: 2%;
    width: 65%;
  }
}

@media (max-width: 1050px) {
  .company__container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 90px;
    margin-bottom: 0px;
  }
  h1 {
    font: 700 60px/66px "Helvetica";
    width: 70%;
    margin-bottom: 20px;
  }

  .company__text {
    width: 43%;
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .logo {
    margin-right: 30px;
  }
  h1 {
    font: 700 50px/54px "Helvetica";
    width: 100%;
    margin-bottom: 20px;
  }

  .company__text {
    width: 50%;
    margin-bottom: 60px;
  }
}

@media (max-width: 650px) {
  .company__container {
    align-items: center;

    padding-bottom: 40px;
    margin-bottom: 0px;
  }
  .company__img {
    position: relative;
    right: 0;
    width: 100%;
  }

  a.company__btn {
    display: flex;
    margin-bottom: 20px;
  }

  .company__text {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  h1 {
    font: 700 40px/44px "Helvetica";
    width: 100%;
    margin-bottom: 20px;
  }
}

/*============================= about =============================*/

.about__container {
  position: relative;
}

.about__bg {
  max-width: 1117px;
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  padding: 120px 80px;
}

.about__content {
  max-width: 52%;
  margin-left: auto;
  padding-left: 10px;
}

.about__first-p {
  display: block;
}

.about__img {
  position: absolute;
  left: 5%;
  top: 12%;
  max-width: 50%;
}

@media (max-width: 992px) {
  .about__bg {
    padding: 70px 40px;
  }

  .about__img {
    position: absolute;
    left: 0%;
    top: 10%;
  }
}

@media (max-width: 768px) {
  .about__bg {
    padding: 50px 20px;
  }

  .about__content {
    max-width: 100%;
    padding-left: 0;
  }
  .about__img {
    position: relative;
    bottom: 0;
    min-width: 100%;
  }
}

/*============================= features ===============================*/

.features__container {
  text-align: center;
}

.features__subtitle {
  max-width: 585px;
  margin: 0 auto 100px;
}

.features__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 45px;
}

.card {
  
  max-width: 50%;
  display: flex;
  gap: 30px;
  text-align: left;
  padding: 60px 40px 30px 0;
}

.card:nth-child(1) {
  background: url(./assets/features/img/card-bg1.png) right top / contain no-repeat;
}
.card:nth-child(2) {
  background: url(./assets/features/img/card-bg2.png) right top / contain no-repeat;
}
.card:nth-child(3) {
  background: url(./assets/features/img/card-bg3.png) right top / contain no-repeat;
}
.card:nth-child(4) {
  background: url(./assets/features/img/card-bg4.png) right top / contain no-repeat;
}

.card__img {
  width: 50%;
  object-fit: contain;
}

.card__info {
  max-width: 225px;
  display: flex;
  flex-direction: column;
}
.card__title {
  font: 400 24px/31px "Helvetica";
  margin-bottom: 20px;
}
.card__text {
  font: 400 16px/26px "Ubuntu";
  margin-bottom: 30px;
}

.card__link {
 width: 130px;
  margin-top: auto;
}

.card__link-txt {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__link-txt::after {
  content: "";
  position: absolute;
  right: 0;
  width: 20px;
  height: 15px;
  background: url(./assets/features/img/card-arrow.svg) center center / contain no-repeat;
}

@media (max-width: 1200px) {
  .features__cards {
    gap: 40px;
    flex-direction: column;
  }

  .card {
    justify-content: space-between;
    align-self: center;
    min-width: 80%;
   height: 450px;
  }

  .card__img {
    width: 40%;
    object-fit: contain;
  }

  .card__info {
    max-width: 40%;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .card {  
   height: 350px;
}
 
}
@media (max-width: 768px) {

  .card {
   
    min-width: 95%;
   
  }

  .card__img {
    width: 50%;
    object-fit: contain;
  }

  .card__info {
    max-width: 50%;
    
    
  }
}

@media (max-width: 600px) {
  .card:nth-child(1) {
    background: url(./assets/features/img/card-bg1.png) right bottom / contain no-repeat;
  }
  .card:nth-child(2) {
    background: url(./assets/features/img/card-bg2.png) right bottom / contain no-repeat;
  }
  .card:nth-child(3) {
    background: url(./assets/features/img/card-bg3.png) right bottom / contain no-repeat;
  }
  .card:nth-child(4) {
    background: url(./assets/features/img/card-bg4.png) right bottom / contain no-repeat;
  }

  .features__cards {
    gap: 20px;
  }

  .card {
    height: 100%;
   flex-wrap: wrap;
    min-width: 95%;
   padding: 10px 10px 30px 10px;
   justify-content: center;
   text-align: end;
  }

  .card__img {
    width: 60%;
    object-fit: contain;
  }

  .card__info {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .card__link {
   
     margin-top: auto;
     margin-left: auto;
   }
}

@media (max-width: 425px) {
  .card {
    height: 900%;
   
  }
}
